:root {
    --primaryColor: #2196F3;
    --secondaryColor: #101D42;
    --accentColor: #E94F37;
    --activeChat: #2196F3;
    --accentHoverColor: #C6351F;
    --notificationColor: #E84855;
    --backgroundColor: white;
    --fillColor: #F7F8F9;
    --messageFill: rgb(241, 242, 243);
    --borderColor: #D7D8DB;
}

h1, h2, h3, h4, h5, p, a, label, button, span {
    font-family: 'Lato';
    color: var(--secondaryColor);
}

button {
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}

button:hover, button:active, button:focus, a:hover, a:focus, input:focus, input:active, div:active, div:focus  {
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

input:active, input:focus {
    cursor: text;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Navigation */

nav {
    display: flex;
    align-items: center;
    height: 44px;
}

.nav__left {
    height: 44px!important;
    background-color: var(--fillColor);
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    width: 349px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__right {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 349px);
}

.nav__right--logo {
    display: flex;
    align-items: center;
}

.nav__right--logo > p {
    font-weight: 600;
    color: var(--secondaryColor);
    letter-spacing: .8px;
}

.logo {
    padding: 0 5px 0 20px;
    height: 25px;
}

.logout {
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin: 0;
}

.logout__user {
    color: var(--secondaryColor);
    opacity: .5;
    font-weight: 400;
    margin: 0;
    padding-right: 5px;
    font-size: 13px;
}

.logout__button {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    height: 26px;
    background-color: transparent;
    color: var(--secondaryColor);
}

.logout__button:hover {
    opacity: .8;
}

/* Nav left */

.nav__left--structure {
    display: flex;
}

.nav__left--text {
    font-size: 14px;
    font-weight: 600;
    color: var(--secondaryColor);
    margin-left: 20px;
}

.nav__left--count {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondaryColor);
    opacity: .5;
    margin-left: 5px;
}

.nav__left--button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    background-color: white;
    border: 1px solid var(--borderColor);
    color: #888EA1;
    width: 80px;
    font-size: 13px;
    padding: 2px 12px 2px 12px;
    margin-right: 20px;
}

.nav__left--button:hover {
    background-color: var(--borderColor);
}

/* Primary content */

.content {
    display: flex;
    height: calc(100vh - 44px);
}

.content__data {
    display: flex;
    flex-direction: column;
    width: calc(100vw);
}

/* .content__tasks {
    flex-basis: 360px;
    border-left: 1px solid var(--borderColor);
    background-color: var(--fillColor);
} */

/* Friends view */

.friends {
    display: flex;
    /* margin: 40px 40px 40px 40px; */
    height: calc(100vh - 44px);
}

.friends__list {
    display: flex;
    flex-direction: column!important;
    border: 1px solid var(--borderColor);
    background-color: var(--fillColor);
    border: none!important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 350px;
    margin-top: 1px;
    min-width: 180px;
}

.friends__list--header {
    height: 50px;
    background-color: black;
}

.friends__messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: calc(100vw - 350px);
}

.friends__list--friendRow {
    display: flex;
    align-content: center;
    width: 100%;
    border-bottom: 1px solid var(--borderColor);
    background-color: white;
}

.friends__list--friendRow:first-child {
    border-top-left-radius: 2px;
}

.friends__list--friendRow:hover {
    cursor: pointer;
}

.friends__list--friendName {
    font-size: 13px;
    font-weight: 600;
    width: 70%;
    padding-left: 10px;
}

.friends__list--friendRow > .notification {
    margin: 15px;
    height: 10px;
    width: 10px;
    background-color: var(--notificationColor);
    border-radius: 500px;
}

.friends__list--profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 210, 219);
    font-size: 12px!important;
    font-weight: 600;
    color: white;
    border-radius: 500px;
    margin: 7px 5px 7px 20px;
    width: 30px;
}

.friends__list--friendMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    background-color: #E5E8EC;;
    color: #888EA1;
    width: 20px;
    height: 20px;
    padding: 0 84x 0 4px;
    border-radius: 10px;
    margin-left: 3px;
}

.activeChat {
    background-color: var(--activeChat); 
    color: var(--primaryColor)!important;
    font-weight: 600;
}

.activeChat__profile {
    background-color: white!important;
    color: var(--secondaryColor);
}

.activeChat__name {
    color: white;
    font-weight: 600;
}

.friends__messages--container {
    display: flex;
    align-items: center;
    height: 8%;
    border: none;
    border-top: 1px solid var(--borderColor);
}

.friends__messages--write {
    padding: 4px 0px 4px 20px;
    border: none;
    font-size: 14px;
    width: 92%;
}

.friends__messages--emoji {
    height: 20px;
    width: 20px;
    width: 5%;
    margin-right: 5px;
}

.friends__messages--emoji:hover {
    cursor: pointer;
}

/* Individual message */

.friends__messages--post {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    overflow: scroll;
    height: 92%;
    border-bottom: 3px solid var(--bordercolor);
}

.message {
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
    border-radius: 100px;
    margin-bottom: 8px;
    max-width: 90%;
}

.message__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}

.message__textSender {
    color: white!important;
}

.message__text--sender {
    align-self: flex-end;
    background-color: var(--primaryColor)!important;
    height: auto;
}

.message__text--receiver {
    align-self: flex-start;
    background-color: rgb(238, 240, 241);
    height: auto;
}



/* Tasks view */

.tasks {
    display: flex;
    margin: 30px 90px 30px 90px;
    display: flex;
    justify-content: space-between;
}

.tasks__lane {
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    width: 33%;
    height: calc(100vh - 68px - 50px - 60px);
    margin-right: 30px;
}

.tasks__lane:last-child{
    margin-right: 0px!important;
}

/* Events view */

.events {
    display: flex;
    margin: 30px 90px 30px 90px;
    display: flex;
    justify-content: space-between;
}

.events__container {
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    width: 50%;
    height: calc(100vh - 68px - 50px - 60px);
    margin-right: 30px;
}

.events__container:last-child{
    margin-right: 0px!important;
}

/* Articles view */

.articles {
    display: flex;
    margin: 30px 90px 30px 90px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--borderColor);
    height: calc(100vh - 68px - 50px - 60px);
}