/* Left column content header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
    height: 67px;
    margin: 0 110px 0 110px;
}

/* Filters */

.header__tabList {
    display: flex;
    flex-direction: space-between;
    width: 60%;
}

.header__tabList--block {
    display: flex;
    justify-content: flex-start;
    width: 120px;
    min-width: 100px;
}

.header__tabList--block:hover {
    cursor: pointer;
}

.header__tabList--counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    background-color: #E5E8EC;
    color: #888EA1;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    margin-left: 8px;
}

.header__tabList--label {
    color: #888EA1;
    font-size: 14px;
}

.activeTab {
    font-weight: 800;
    color: var(--secondaryColor);
}

.activeCounter {
    background-color: var(--primaryColor);
    color: white;
}

/* Add new button */

.header__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--accentColor);
    width: 120px;
    padding: 2px 16px 2px 16px;
}

.header__button:hover {
    background-color: var(--accentHoverColor);
}

.header__button > img {
    margin: 2px 0 0 0;
    padding-left: 15px;
    height: 17px;
    width: 17px;
}

/* Dropdown */

.dropdown {
    margin: 45px 0 0 -16px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--borderColor);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 999;
    width: 120px;
    padding: 22px 20px 20px 22px;
}

.dropdown__option {
    margin: 0;
    height: 25px;
    margin: 0 -20px 0 -25px;
    padding: 0 20px 0 25px;
}

.dropdown__option:hover {
    background-color: var(--primaryColor);
    color: white;
}

.dropdown__background{ 
    position: fixed;
    top: 0;
    z-index: 998;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}
