/* Left column content header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
    height: 67px;
    margin: 0 110px 0 110px;
}

.header__filterList {
    display: flex;
    flex-direction: space-between;
    width: 60%;
}

.header__filterList--block {
    display: flex;
    padding-right: 50px;
}

.header__filterList--block:hover {
    cursor: pointer;
}

.header__filterList--counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    background-color: #E5E8EC;
    color: #888EA1;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    margin-left: 8px;
}

.header__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--accentColor);
    padding: 2px 16px 2px 20px;
}

.header__button:hover {
    background-color: var(--accentHoverColor);
}

.header__button > img {
    margin: 2px 0 0 0;
    padding-left: 15px;
    height: 17px;
    width: 17px;
}